@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  a.nimation-delay-4000 {
    animation-delay: 4s;
  }
}
